body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*============ Acount bar =============*/

.acount-icon a {
    text-decoration: none;
    position: relative;
    color: #6e7673;
    font-size: 18px;
    margin: 10px;
}
.acount-icon i {
    font-size: 16px;
    color: #6e7673;
}
.acount-icon i:hover {
    color: #ffc107;
    transition: all .3s ease;
    cursor: pointer;
}
.acount p {
    position: relative;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #6e7673;
}
.acount a {
    position: relative;
    text-decoration: none;
    color: #6e7673;
    font-family: 'Roboto';
    font-weight: 400;
}
.acount a:hover {
    color: #49a760;
    transition: all .3s ease;
    cursor: pointer;
}
.timer i {
    font-size: 16px;
    margin-right: 5px;
    color: #49a760;
}
.acount-bar {
    position: relative;
    background: #f6f5f2;
    padding: 10px 0px;
}
.acount {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=========== Navigation css Start ============*/

.navbar::after {
    content: "";
    width: 100%;
    height: 16px;
    position: absolute;
    bottom: -15px;
    left: 0;
    background-image: url(../images/ripped-paper-header-1.png);
    background-position: center center;
    background-size: cover;
}
.navbar {
    position: relative;
    background: #fff;
    box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 10%);
    -webkit-box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 10%);
    padding: 15px 0px!important;
}
.logo {
    position: relative;
    width: 100%;
    height: 50px;
    object-fit: cover;
}
.collapse {
    justify-content: center;
    align-items: center;
}
.nav-item {
    margin-right: 20px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    font-size: 17px;
    font-family: 'Roboto';
    color: #255946;
    font-weight: 500;
}
.dropdown-content a:hover {
    background-color: #ffc107;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
}

.nav-item:hover .dropdown-content {display: block;}

.nav-link {
    position: relative;
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #6e7673!important;
}
.nav-link:hover {
    color: #255946!important;
    transition: all .3s ease;
    cursor: pointer;
}
.head-icon ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}
.head-icon ul li {
    display: inline-block;
    margin: 5px;
}
.head-icon {
  padding-right: 25px;
}
.head-icon i {
    color: #255946;
    font-size: 18px;
}
.btn-rx {
    background-color: #f7c35f;
    padding: 10px 15px;
    border-radius: 5px;
}
.btn-rx:hover {
    background: #255946;
    color: #fff;
    transition: all .3s ease;
}
.btn-rx a {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 500;
}
.btn-rx a:hover {
    color: #fff;
    transition: all .3s ease;
    cursor: pointer;
}
.btn-rx .fa {
    font-size: 20px;
    color: #fff;
    padding-right: 5px;
}

/*============== Navigation css End ==============*/

/*==================== Sign Up css start ======================*/

input[type=text], input[type=password] {
    width: 70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
    color: #fff!important;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.aling {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: auto;
}
.aling b {
    color: #255946;
}
.pasedit b {
    color: #255946;
}
.pasedit {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: auto;
}
.Privacy {
    color: #255946;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
}
.pasedit label {
    padding-right: 98px;
}
.aling label {
    padding-right: 15px;
}
.chekbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.Privacy {
    position: relative;
    text-align: center;
}
.forms h1 {
    position: relative;
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: 'Roboto';
    color: #255946;
    line-height: 3;
    z-index: 9;
}
.clearfix {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.signupbtn {
    position: relative;
    background-color: #f7c35f;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
    font-family: 'Roboto';
    text-transform: capitalize;
    font-weight: 400;
}
.signupbtn:hover {
    background-color: #255946;
    transition: all .5s ease;
    cursor: pointer;
}
.forms h1:hover {
    color: #f7c35f;
    transition: all 0.5s ease;
    cursor: pointer;
}
.sign-contant {
    position: relative;
    background-image: url(../images/main-slider-1-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: auto;
    padding: 150px 0;
}
.chek-edit {
    color: #255946!important;
}
.background-edit {
    position: relative;
    background: #ffffffb8;
    padding: 0 0 30px 0;
    margin: 0 225px;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 20%);
    z-index: 99;
}
.sign-contant::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 30%);
}
/*=================== Footer Css start ==================*/

.footer {
    position: relative;
    background: #255946;
    padding: 100px 0px 50px 0px;
}
.footer::before {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    width: 100%;
    height: 16px;
    background-image: url(../images/ripped-paper-base-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
}
.footer::after {
    content: "";
    position: absolute;
    top: 99%;
    left: 0;
    width: 100%;
    height: 16px;
    transform: rotate(180deg);
    background-image: url(../images/ripped-paper-base-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 9;
}
.foot-first img {
    position: relative;
    width: 150px;
    height: auto;
    object-fit: cover;
    padding-bottom: 30px;
}
.foot-first p {
    position: relative;
    margin: 0;
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    line-height: 2;
    color: #b5c3be;
}
.emailaddress {
    position: relative;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: flex-start;
}
.emailaddress input {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px 0 0 5px;
    background: #fff;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
}
.emailaddress input::-webkit-input-placeholder {
    color: #6e7673;
    opacity: 1;
    padding-left: 20px;
}
.emailaddress input:-ms-input-placeholder {
    color: #6e7673;
    opacity: 1;
    padding-left: 20px;
}
.emailaddress input::placeholder {
    color: #6e7673;
    opacity: 1;
    padding-left: 20px;
}
.emailaddress i {
    font-size: 25px;
    font-family: 'FontAwesome';
    color: #49a760;
    background: #fff;
    padding: 17.5px;
    border-radius: 0 5px 5px 0;
}
.foot-icon {
    position: relative;
    padding: 30px 0px;
    display: flex;
    justify-content: flex-start;
    width: auto;
    align-items: center;
}
.foot-icon i {
    position: relative;
    margin-right: 30px;
    font-size: 22px;
    color: #fff;
    transition: all .5s ease-in-out;
}
.foot-icon i:hover {
  color: #f7c35f;
  cursor: pointer;
}
.footer-column h4 {
  position: relative;
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #fff;
  padding-bottom: 38px;
}
.f-list {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
}
.f-list li {
    position: relative;
    display: block;
}
.f-list li a i {
    font-size: 18px;
    margin-right: 10px;
}
.f-list li a {
  text-decoration: none;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #b5c3be;
  line-height: 2.5;
  transition: all .5s ease-in-out;
}
.f-list li a:hover {
  color: #f7c35f;
  cursor: pointer;
}
.foot-second {
    position: relative;
    padding-left: 50px;
}
.f-wrap img {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
}
.f-wrap span {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #f7c35f;
    line-height: 2;
}
.f-wrap p {
    position: relative;
    font-family: 'Roboto';
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    line-height: 1.5;
}
.four-list {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
}
.four-list li {
    display: block;
    line-height: 2;
}
.four-list li a i {
    font-size: 16px;
    margin-right: 10px;
    color: #f7c35f;
}
.four-list li a {
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #b5c3be;
    line-height: 4;
    transition: all .5s ease-in-out;
}
.four-list li a:hover {
    color: #f7c35f;
    cursor: pointer;
}
.four-list:before {
    content: "";
    position: absolute;
    top: 34%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: .2px;
    background: #fff;
}
.four-list::after {
    content: "";
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: .2px;
    background: #fff;
}
.copyrigt {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #1f4e3d;
    padding: 30px 0px 20px 0px;
}
.copyrigt p {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #fff;
}
#topBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    background-color: #f7c35f;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    display: none;
    z-index: 99;
}

@media only screen and (max-width:360px) {

  .background-edit {
  position: relative;
  background: #ffffffb8;
  padding: 30px;
  margin: 0 0px;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 20%);
  z-index: 99;
}
.forms h1 {
  font-size: 36px;
  line-height: 2;
}
.pasedit label {
   padding-right: 77px;
}
.Privacy {
  font-size: 10px;
}
}
